
html{
    background-color: #202124;
}

.wrapper{
    height: 100vh;
    width: 250px;
    background-color:#202124 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container{
    height: 90%;
    width: 95%;
    display: grid;
    grid-template-columns: 250px;
    
    grid-template-rows: 1fr;
    grid-template-areas: 
    'user'
    'nav';
}

.user-container{    
    grid-area: user;
    padding: 10px;

}

.user-container-box{
    background-color: #2D2F31;
    margin:3px;
    height: 100px; 
    width:200px;
    border-radius: 15px;
    display: grid;  
    grid-template-columns: 80px 45px 75px;
    grid-template-rows: 25px 50px 25px;
    position: relative;
    top: 20px;
}

.image-container{
    grid-area: 2/1;
    justify-self: center;
}

#image{
    border-radius: 100%;
 
}

#role{
    grid-area: 3/2;
    justify-self: start;
    align-self: end;
    font-size: 12px;
    color: #ffc40c;
}

#username{
    grid-area: 2/3;
    justify-self: start;
    align-self: center;
    font-size: 17px;
    color: white;


}

.col-2-row-2{
    grid-area: 2/2;
    align-self: center;
    justify-self: start;
    font-size: 17px;
    color: white;
}


.page-header{
    grid-area: header;
    background-color: blue;

}

.sidenav-wrapper{
    grid-area: nav;
    padding:10px;
}

.side-nav{
    margin: 3px;
    background-color: #2D2F31;
    height: 470px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    padding: 30px;
    color: white;
    text-decoration: none;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .nav-buttons:hover {
    background-color: #ffc40c;
    color: black;
    animation: pulse s infinite;
  }

  @media (min-height: 860px) {
    .side-nav{
    position: relative;
    bottom: 90px;
    }
    .user-container-box{
    position: relative;
    top: 45px;
    }
  }

 







  