
.main-wrapper{
    display: flex;
    flex-direction: row;
    
}

.wrapper-dashboard{
    height: 100vh;
    width: 1300px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard{
    height: 90%;   
    width: 1250px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr 3.1fr;
}

.status-wrapper{
    grid-area: 1/1;
    padding: 5px 15px 15px 15px;
}

.current-client-wrapper{
    grid-area: 1/2;
    padding: 5px 15px 15px 15px;
}   

.contract-wrapper{
    grid-area: 2/1/-2/-1;
    padding: 5px 15px 15px 15px;

}

.status-box{
    position: relative;
    bottom: 3px;
    background-color: #2D2F31;
    border: none;
    color: white;
    display: flex;
    justify-self: start;
    align-self: center;     
    padding: 20px;
    height: 110px;
    width: 220px;            
    border-radius: 15px;
}

.current-client-box{
    position: relative;
    bottom: 3px;
    background-color: #2D2F31;
    border: none;
    color: white;
    display: flex;
    justify-self: start;
    align-self: center;    
    align-items: center; 
    justify-content: center;
    height: 110px;
    width: 150px;   
    border-radius: 15px;

}

.contract-box{
    background-color: #2D2F31;
    border: none;
    color: white;
    min-height: 480px;
    max-height: 480px;
    width: 100%;
    border-radius: 12px;
    overflow-y: auto;
    overflow-x: auto;
}

.contract-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 15px;
    position: relative;
    right: 5px;
}

.contract-box::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
    border-radius: 15px;
}

.contract-box::-webkit-scrollbar-thumb
{
	background-color: #ffc40c;
    border-radius: 15px;
}

#client-count{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #ffc40c;
    font-weight: bolder;
}

/* .status-box:hover .legend{
    background-color: #ffc40c;
    color: black;
} */

.toggle-button{
    position: relative;
    align-self: center;
    justify-self: start;
    margin: 20px;
}
#status {
    display: inline-block;
    position: relative;
    font-size: 15px;
    bottom: 5px;
  }

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .slider {
    background-color: #ffc40c;
}

input[type="checkbox"]:checked + .slider:before {
    transform: translateX(20px);
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.toggle-button label {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 40px;
}

.slider {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 15px;
}

.slider:before {
   content:"";
   position:absolute; 
   top: 0; 
   left: 0; 
   width :20px; 
   height :20px; 
   border-radius :10px; 
   background:white; 
   transition: background-color 0.5s ease, transform 0.3s ease;
}


legend{
    font-weight: 700;
    font-size: 17px;
}

td {
    overflow-wrap: break-word;
    font-size: 13px;
}

th:nth-child(6),
td:nth-child(6),
th:nth-child(7),
td:nth-child(7) {
    width: 20%;
}


/* ::-webkit-scrollbar {
    opacity: 0;
  } */

  